version: 2.1

jobs:
  create_infrastructure:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
          name: Ensure backend infrastructure exist
          command: |
            aws cloudformation deploy \
              --template-file ec2.yml \
              --parameters-file ec2-para.json \
              --stack-name ci-cd-test-1
workflows:
  my_workflow:
    jobs:
      - create_infrastructure